body{
  background: #dcafaf;
}

.main{
  margin-left: auto;
  margin-right: auto;
}

.tweet{
//min-height: 30px;
  height: auto;
  background-color: rgba(201, 136, 136, 0.71);
  border: 2px solid rgba(2, 0, 0, 0.11);
}

.tweet_icon{
  position: relative;
  left: 0px;
  border-radius: 0%;
  height: 80px;
  width: 80px;
  border: solid 2px #ffffff;
}

.t_time{
  margin-left: 50px;
}


.t_msg{
  position: relative;
  left: 100px;
  top: -65px;
}

.t_name{
  position: relative;
  left: 100px;
  top: -50px;
}

.btn {
  margin: 5px;
}

.btn-info {
  margin-left:-5px;
}



